@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&family=Poppins:wght@400;600;900&display=swap");

html {
  overflow: hidden;
  width: 100%;
}

body {
  overflow: hidden;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  letter-spacing: 2px;
}

:root {
  --mobile-breakpoint: 500px;
  --nav-height: 15vh;
  --page-width: 80vw;
  --page-height: calc(100vh - var(--nav-height));
  --outer-skill-page-height: calc((100vh - var(--nav-height)) * 6);
  --inner-skill-page-height: calc(
    (var(--outer-skill-page-height) / 6) - (var(--nav-height) / 6)
  );
  --common-padding: 15px;
  --cube-initial-y-position: -20deg;
  --cube-x-position: -30deg;
  --cube-y-position: var(--cube-initial-y-position);
  --cube-z-position: 0deg;
  --cube-size: clamp(50px, 15vw, 200px);
  --_hue: hsl(0);
  --_brightness: 50%;
  --main-color: hsl(var(--_hue) 100% var(--_brightness));
  --sub-color: hsl(calc(var(--_hue) + 25) 100% var(--_brightness));
  --floating-ball-transform: "";
  --bg: rgba(0, 0, 0, 1);
  --border: rgba(255, 255, 255, 0.3);
  --color-picker-bg: rgba(0, 0, 0, 0.8);

  --fs-xl: clamp(2.5rem, 5vw, 3.5rem);
  --fs-l: 1.3rem;
  --fs-m: 1rem;
  --fs-s: 0.8rem;
  --fs-ss: 0.7rem;
}

@media only screen and (min-width: 888px) {
  :root {
    --page-width: 65vw;
  }
}
/*770-762*/
@media only screen and (max-width: 888px) and (min-width: 500px) {
  :root {
    --cube-size: clamp(50px, 15vw, 100px);
    --common-padding: 12.5px;
    --fs-xl: clamp(2.3rem, 3.5vw, 3.2em);
    --fs-l: 1.3rem;
    --fs-m: 0.75rem;
    --fs-s: 0.65rem;
    --fs-ss: 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --cube-size: clamp(50px, 15vw, 100px);
    --common-padding: 12.5px;
    --fs-xl: clamp(2rem, 3.5vw, 3.2em);
    --fs-l: 1.3rem;
    --fs-m: 0.8rem;
    --fs-s: 0.6rem;
    --fs-ss: 0.4rem;
  }

  .settings .active {
    display: block;
    background: var(--color-picker-bg);
  }
}

:root[color-scheme="dark-theme"] {
  --bg: rgba(0, 0, 0, 1);
  --border: rgba(255, 255, 255, 0.3);
  /* --color-picker-bg: rgba(60, 60, 60, 0.8); */
  --color-picker-bg: rgba(0, 0, 0, 0.8);

  color-scheme: dark;
}

:root[color-scheme="light-theme"] {
  --bg: rgba(255, 255, 255, 1);
  --border: rgba(0, 0, 0, 0.3);
  --color-picker-bg: rgba(0, 0, 0, 0.8);
  color-scheme: light;
}

.App {
  scroll-snap-type: y mandatory;
  scroll-padding-top: var(--nav-height);
  scroll-snap-stop: always;
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 99.9%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

@-moz-document url-prefix() {
  .App {
    scroll-snap-type: unset;
  }
}

.hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
  transform: translateY(-100px);
}

/* .wave-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
} */

/* .my-wave {
  background: var(--main-color);
  position: absolute;
  width: max(400px, 30vw);
  height: max(400px, 30vw);
  border-radius: 100%;
  top: 100%;
  left: 50%;
  animation: 2s waving infinite ease-in-out;
} */

/* .my-wave::before {
  content: "";
  position: absolute;
}

.my-wave:nth-child(10)::before {
  content: "halo";
  position: absolute;
}

.my-wave:nth-child(20)::before {
  content: "halo";
  position: absolute;
}

@keyframes waving {
  from,
  to {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -20%);
  }
} */
